x-defaults:
  &defaults
  ENVIRONMENT: development
  ETCD_URL: db:2379
  AUTH_SENTRY_DSN: ""
  RCE_SENTRY_DSN: ""
  LANDING_SENTRY_DSN: ""
  REGISTRATION_SENTRY_DSN: ""

services:
  traefik:
    image: traefik:v2.7.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--ping=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.tlsresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.tlsresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.tlsresolver.acme.email=pesto@teknologiumum.com"
      - "--certificatesresolvers.tlsresolver.acme.storage=/letsencrypt/acme.json"
    environment:
      - TZ=UTC
    ports:
      # The HTTP port
      - "80:80"
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8081:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - "../letsencrypt:/letsencrypt"
    healthcheck:
      test: traefik healthcheck --ping
      interval: 10s
      timeout: 30s
      retries: 5
    networks:
      - pesto
      - default
  landing:
    build: ./landing
    environment:
      <<: [ *defaults ]
      PORT: 3000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.landing.entrypoints=web,websecure"
      - "traefik.http.routers.landing.rule=Host(`pesto.teknologiumum.com`) && (Path(`/`) || Path(`/signup`))"
      - "traefik.http.routers.landing.tls.certresolver=tlsresolver"
      - "traefik.http.routers.landing.middlewares=landing-error,landing-header,landing-rate,landing-redirectscheme"
      - "traefik.http.services.landing.loadbalancer.server.port=3000"
      - "traefik.http.services.landing.loadbalancer.server.scheme=http"
      - "traefik.http.services.landing.loadbalancer.healthcheck.interval=30s"
      - "traefik.http.services.landing.loadbalancer.healthcheck.path=/healthz"
      - "traefik.http.middlewares.landing-error.errors.status=500-599"
      - "traefik.http.middlewares.landing-error.errors.service=landing@docker"
      - "traefik.http.middlewares.landing-error.errors.query=/error"
      - "traefik.http.middlewares.landing-rate.ratelimit.average=50"
      - "traefik.http.middlewares.landing-rate.ratelimit.burst=1"
      - "traefik.http.middlewares.landing-rate.ratelimit.period=1s"
      - "traefik.http.middlewares.landing-header.headers.accesscontrolallowmethods=GET,OPTIONS"
      - "traefik.http.middlewares.landing-header.headers.accesscontrolalloworiginlist=https://teknologiumum.com"
      - "traefik.http.middlewares.landing-header.headers.accesscontrolmaxage=604800"
      - "traefik.http.middlewares.landing-header.headers.addvaryheader=true"
      - "traefik.http.middlewares.landing-header.headers.frameDeny=true"
      - "traefik.http.middlewares.landing-header.headers.browserxssfilter=true"
      - "traefik.http.middlewares.landing-header.headers.stsSeconds=604800"
      - "traefik.http.middlewares.landing-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.landing-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.landing-header.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.landing-header.headers.customResponseHeaders.server=Teknologi Umum"
      - "traefik.http.middlewares.landing-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.landing-redirectscheme.redirectscheme.permanent=true"
    healthcheck:
      test: curl -f http://localhost:3000/healthz || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      mode: replicated # global, replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 10
        window: 120s
    networks:
      - pesto
  db:
    image: gcr.io/etcd-development/etcd:v3.5.4
    command:
      [
        "/usr/local/bin/etcd",
        "--name",
        "s1",
        "--data-dir",
        "/etcd-data",
        "--listen-client-urls",
        "http://0.0.0.0:2379",
        "--advertise-client-urls",
        "http://0.0.0.0:2379",
        "--listen-peer-urls",
        "http://0.0.0.0:2380",
        "--initial-advertise-peer-urls",
        "http://0.0.0.0:2380",
        "--initial-cluster",
        "s1=http://0.0.0.0:2380",
        "--initial-cluster-token",
        "2d8edff944592668ef483cac8ff45f195cfc5f0463e32027e0d59bc8bb020df7",
        "--initial-cluster-state",
        "new",
        "--log-level",
        "info",
        "--logger",
        "zap",
        "--log-outputs",
        "stderr"
      ]
    ports:
      - 2379:2379
      - 2380:2380
    healthcheck:
      test: /usr/local/bin/etcdctl endpoint health
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 20
        window: 60s
    networks:
      - pesto
    volumes:
      - ../etcd/:/etcd-data
  auth:
    build: ./auth
    environment:
      <<: [ *defaults ]
      PORT: 3000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.entrypoints=web,websecure"
      - "traefik.http.routers.auth.middlewares=landing-error,landing-header,landing-rate,landing-redirectscheme"
      - "traefik.http.services.auth.loadbalancer.server.port=3000"
      - "traefik.http.services.auth.loadbalancer.server.scheme=http"
      - "traefik.http.services.auth.loadbalancer.healthcheck.interval=30s"
      - "traefik.http.services.auth.loadbalancer.healthcheck.path=/healthz"
      - "traefik.http.middlewares.auth-error.errors.status=500-599"
      - "traefik.http.middlewares.auth-error.errors.service=landing@docker"
      - "traefik.http.middlewares.auth-error.errors.query=/error"
      - "traefik.http.middlewares.auth-rate.ratelimit.average=20"
      - "traefik.http.middlewares.auth-rate.ratelimit.burst=1"
      - "traefik.http.middlewares.auth-rate.ratelimit.period=1s"
      - "traefik.http.middlewares.auth-header.headers.addvaryheader=true"
      - "traefik.http.middlewares.auth-header.headers.frameDeny=true"
      - "traefik.http.middlewares.auth-header.headers.browserxssfilter=true"
      - "traefik.http.middlewares.auth-header.headers.stsSeconds=604800"
      - "traefik.http.middlewares.auth-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.auth-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.auth-header.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.auth-header.headers.customResponseHeaders.server=Teknologi Umum"
    healthcheck:
      test: curl -f http://localhost:3000/healthz || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      mode: replicated # global, replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 10
        window: 120s
    depends_on:
      db:
        condition: service_healthy
    networks:
      - pesto
  rce:
    build: ./rce
    environment:
      <<: [ *defaults ]
      PORT: 50051
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rce.entrypoints=web,websecure"
      - "traefik.http.routers.rce.rule=Host(`pesto.teknologiumum.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.rce.tls.certresolver=tlsresolver"
      - "traefik.http.routers.rce.middlewares=rce-auth,rce-error,rce-header,rce-rate,rce-redirectscheme,rce-inflightreq"
      - "traefik.http.services.rce.loadbalancer.server.port=50051"
      - "traefik.http.services.rce.loadbalancer.server.scheme=http"
      - "traefik.http.services.rce.loadbalancer.healthcheck.interval=30s"
      - "traefik.http.services.rce.loadbalancer.healthcheck.path=/healthz"
      - "traefik.http.middlewares.rce-auth.forwardauth.address=http://auth:3000/"
      - "traefik.http.middlewares.rce-auth.forwardauth.authRequestHeaders=Accept,X-Pesto-Key,Referer,Origin"
      - "traefik.http.middlewares.rce-auth.forwardauth.tls.insecureSkipVerify=true"
      - "traefik.http.middlewares.rce-error.errors.status=500-599"
      - "traefik.http.middlewares.rce-error.errors.service=landing@docker"
      - "traefik.http.middlewares.rce-error.errors.query=/error"
      - "traefik.http.middlewares.rce-rate.ratelimit.average=60"
      - "traefik.http.middlewares.rce-rate.ratelimit.burst=1"
      - "traefik.http.middlewares.rce-rate.ratelimit.period=1m"
      - "traefik.http.middlewares.rce-header.headers.accesscontrolallowmethods=GET,OPTIONS,POST"
      - "traefik.http.middlewares.rce-header.headers.accesscontrolalloworiginlist=*"
      - "traefik.http.middlewares.rce-header.headers.accesscontrolmaxage=604800"
      - "traefik.http.middlewares.rce-header.headers.addvaryheader=true"
      - "traefik.http.middlewares.rce-header.headers.frameDeny=true"
      - "traefik.http.middlewares.rce-header.headers.browserxssfilter=true"
      - "traefik.http.middlewares.rce-header.headers.stsSeconds=604800"
      - "traefik.http.middlewares.rce-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.rce-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.rce-header.headers.contentTypeNosniff=true"
      - "traefik.http.middlewares.rce-header.headers.customResponseHeaders.server=Teknologi Umum"
      - "traefik.http.middlewares.rce-redirectscheme.redirectscheme.scheme=https"
      - "traefik.http.middlewares.rce-redirectscheme.redirectscheme.permanent=true"
      - "traefik.http.middlewares.rce-inflightreq.inflightreq.amount=50"
    healthcheck:
      test: curl -f http://localhost:50051/healthz || exit 1
      interval: 30s
      timeout: 10s
      retries: 5
    deploy:
      mode: replicated # global, replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 10
        window: 120s
    networks:
      - pesto

networks:
  pesto:
    driver: bridge
    external: true
