<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="pesto, teknologi umum, remote code execution, code, programming, developer"
    />
    <meta
      name="description"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta
      name="subject"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta name="copyright" content="Teknologi Umum" />
    <meta name="language" content="en-US" />
    <meta name="robots" content="index,follow" />
    <meta
      name="summary"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta
      name="author"
      content="Teknologi Umum, opensource@teknologiumum.com"
    />
    <meta name="owner" content="Teknologi Umum" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/meta/apple-touch-icon.png"
    />
    <link rel="icon" type="image/x-icon" href="/meta/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <link rel="manifest" href="/meta/site.webmanifest" />
    <link rel="stylesheet" href="/styles/font.css" />
    <link rel="stylesheet" href="/styles/style.css" />

    <title>Pesto - Remote Code Execution Engine</title>
  </head>
  <body>
    {{~it.body}}
  </body>
</html>
