<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="pesto, teknologi umum, remote code execution, code, programming, developer"
    />
    <meta
      name="description"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta
      name="subject"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta name="copyright" content="Teknologi Umum" />
    <meta name="language" content="en-US" />
    <meta name="robots" content="index,follow" />
    <meta
      name="summary"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta
      name="author"
      content="Teknologi Umum, opensource@teknologiumum.com"
    />
    <meta name="owner" content="Teknologi Umum" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/meta/apple-touch-icon.png"
    />
    <link rel="icon" type="image/x-icon" href="/meta/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <link rel="manifest" href="/meta/site.webmanifest" />
    <link rel="stylesheet" href="/styles/font.css" />
    <link rel="stylesheet" href="/styles/style.css" />

    <meta property="og:title" content="Pesto" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pesto.teknologiumum.com/" />
    <meta
      property="og:image"
      content="https://pesto.teknologiumum.com/thumbnail.png"
    />
    <meta
      property="og:image:secure:url"
      content="https://pesto.teknologiumum.com/thumbnail.png"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://pesto.teknologiumum.com" />
    <meta name="twitter:creator" content="Teknologi Umum" />
    <meta name="twitter:title" content="Pesto" />
    <meta
      name="twitter:description"
      content="A simple Remote Code Execution engine written in Typescript."
    />
    <meta
      name="twitter:image"
      content="https://pesto.teknologiumum.com/thumbnail.png"
    />

    <title>Pesto - Remote Code Execution Engine</title>
  </head>
  <body>
    <div id="app">
      {{~it.body}}
    </div>
    <footer class="footer">
      <div class="footer-back-to-top" onclick="window.scrollTo(0, 0)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--fluent chevron-up"
          width="32"
          height="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 16 16"
        >
          <path
            fill="currentColor"
            d="M3.2 10.26a.75.75 0 0 0 1.06.04L8 6.773l3.74 3.527a.75.75 0 1 0 1.02-1.1l-4.25-4a.75.75 0 0 0-1.02 0l-4.25 4a.75.75 0 0 0-.04 1.06Z"
          ></path>
        </svg>
      </div>
      <div class="footer-content">
        <p>
          Pesto is a project by
          <a class="url" href="https://github.com/teknologi-umum">
            Teknologi Umum
          </a>
        </p>
        <p>
          Interested on contributing? Check out the
          <a class="url" href="https://github.com/teknologi-umum/pesto">
            GitHub repository
          </a>
        </p>
      </div>
    </footer>

  </body>
</html>
