* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eaffef;
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23c2e996' fill-opacity='0.16' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*#region Utility */
.button {
  padding: 1rem 2rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: transform ease-out 0.2s;
}

.button:hover {
  cursor: pointer;
  transform: translate3d(0, -0.25rem, 0);
}

.url {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration-style: dashed;
  color: #1c722c;
}

.url:hover {
  text-decoration: underline;
}
/*#endregion*/

/*#region Header */
.hero {
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  width: min-content;
}

.title {
  letter-spacing: 0.125em;
  font-size: clamp(3rem, calc(4vw + 2rem), 6rem);
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  color: #22331a;
  z-index: 10;
  margin-left: -4rem;
}

svg.leaf-icon {
  right: -7rem;
  bottom: 0;
  position: absolute;
  width: 7rem;
  height: 7rem;
  color: #22331a;
  z-index: 5;
}

svg.leaf-icon-bg {
  right: -7.25rem;
  bottom: -0.5rem;
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  color: #6cd48f;
}

.description {
  text-align: center;
  font-size: clamp(1.25rem, calc(2vw + 1rem), 2rem);
  line-height: 1.75em;
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  max-width: 60ch;
  margin: 1.25rem auto 0;
  color: #384930;
}

.buttons {
  display: flex;
  width: fit-content;
  gap: 2rem;
  margin: 3rem auto 0;
}

@media only screen and (max-width: 640px) {
  .buttons {
    flex-direction: column;
  }
}

.button.get-started {
  background-color: #6cd48f;
  color: #22331a;
  border: 2px #22331a solid;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
}

.button.request {
  background-color: #c2e996;
  color: #22331a;
  border: 2px #22331a solid;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
}
/*#endregion*/

/*#region Content */
.section {
  margin: 6rem 0;
}

.heading {
  color: #22331a;
  /* font-size: 2.25rem; */
  font-size: clamp(1.5rem, calc(2vw + 1.5rem), 2.25rem);
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
}

.content {
  padding: 0 2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-left: 2px #22331a solid;
  color: #22331a;
}

.content p {
  font-size: 1.25rem;
  line-height: 1.75em;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  margin: 1rem 0;
}
/*#endregion*/

/*#region Guide */
.guide {
  margin: 1rem 0 0;
}

.guide-title {
  font-size: 1.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  color: #22331a;
}

.guide-list {
  padding-left: 1.5rem;
}

.guide-list li {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 2em;
  font-size: 1.25rem;
}

.field-list {
  padding-left: 1.5rem;
}
/*#endregion*/

/*#region Example*/
.example {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 640px) {
  .example {
    flex-direction: column;
  }
}

.example-item {
  flex: 1;
}

.example-label {
  font-size: 1.125rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  padding: 0.5rem 1rem;
  width: min-content;
  background-color: #22331a;
  color: #eaffef;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
}

.runtime-list {
  padding-left: 1.5rem;
}

.runtime-list li {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 2em;
  font-size: 1.25rem;
}
/*#endregion*/

/*#region Syntax Highlighting */
.inline-code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #b4d3bb;
}

.code {
  padding: 1rem;
  background-color: #22331a;
  color: #eaffef;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
  overflow-x: auto;
}

.code pre {
  font-size: 1rem;
  line-height: 1.75em;
  font-family: "IBM Plex Mono", monospace;
}

.code-brace {
  color: #eaffef;
}

.code-key {
  color: #5aebe3;
}

.code-string {
  color: #6cd48f;
}

.code-int {
  color: #f57868;
}
/*#endregion */

/*#region Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  margin: 0.5rem 0;
}

.field .label {
  display: block;
  margin-bottom: 0.75rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.field .input {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border: 2px #22331a solid;
  outline: none;
  background-color: #f9fffa;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
  width: 100%;
}

.field .button {
  background-color: #e9b596;
  color: #22331a;
  border: 2px #22331a solid;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
  margin: 0 auto;
}
/*#endregion*/

/*#region Footer */
.footer {
  position: relative;
  background-color: #1b2417;
  padding: 4rem 2rem;
  box-shadow: 0 -0.25rem 0 0 #eaffef, 0 -0.5rem 0 0 #22331a;
}

.footer-back-to-top {
  position: absolute;
  right: 1rem;
  top: -6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #F9FFFA;
  border: 2px #22331a solid;
  box-shadow: 0.25rem 0.25rem 0 0 #22331a;
  transition: transform 0.2s ease-out;
}

.footer-back-to-top:hover {
  cursor: pointer;
  transform: translate3d(0, -0.25rem, 0);
}

.footer-back-to-top .chevron-up {
  width: 2rem;
  height: 2rem;
  color: #22331a;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  font-size: 1.25rem;
  line-height: 1.75em;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  color: #eaffef;
  text-align: center;
}

.footer-content .url {
  color: #6cd48f;
}
/*#endregion*/
