.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.field {
	margin: 0.5rem 0;
}

.field .label {
	display: block;
	margin-bottom: 0.75rem;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
}

.field .input {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
	padding: 0.5rem 1rem;
	border: 2px var(--color-tinted-black) solid;
	outline: none;
	background-color: var(--color-white);
	box-shadow: 0.25rem 0.25rem 0 0 var(--color-tinted-black);
	width: 100%;
}

.field .button {
	background-color: var(--color-pale-red);
	color: var(--color-tinted-black);
	margin: 0 auto;
}

.field .message {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 1.25rem;
	text-align: center;
}

.field .message.success {
	filter: brightness(0.7);
	color: var(--color-soft-green);
}

.field .message.error {
	filter: brightness(0.9);
	color: var(--color-red);
}
