---
import Layout from "~/layouts/Layout.astro";
import Logo from "~/components/Logo.astro";
import Section from "~/components/Section.astro";
---

<Layout>
	<Logo />
	<Section title="404">
		<p>Page was not found.</p>
		<p>
			If you think this shouldn't happen, you can help us fix this error by sending us a bug report to our{" "}
			<a class="url" href="https://github.com/teknologi-umum/pesto/issues"> Github Issue</a>{" "}
			page.
		</p>
	</Section>
</Layout>
