{{ layout("layout/main.layout.hbs") }}

<div id="app">
  <header>
    {{~ includeFile("components/logo.hbs") }}
  </header>
  <section class="section">
    <h1 class="heading">Oh, no! An error has occured.</h1>
    <div class="content">
      <p> Error: {{= it.errorMessage }} </p>
      <p>
        If you think this shouldn't happen, you can help us fix this error by sending us a bug report to our
        <a class="url" href="https://github.com/teknologi-umum/pesto/issues">Issues</a> page.
      </p>
    </div>
  </section>
</div>
<footer class="footer">
  <div class="footer-content">
    <p>
      Pesto is a project by
      <a class="url" href="https://github.com/teknologi-umum">
        Teknologi Umum
      </a>
    </p>
    <p>
      Interested on contributing? Check out the
      <a class="url" href="https://github.com/teknologi-umum/pesto">
        GitHub repository
      </a>
    </p>
  </div>
</footer>
<script type="module" src="/main.js"></script>
